{% extends 'base.html.twig' %}

{% block title %}View Calendar{% endblock %}

{% block body %}





    <Calendar v-bind="{{ params }}"></Calendar>



<div class="mt-2">
    Upper right number indicates how many hours are available.
</div>
   
{% endblock %}
