{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Sample dentist app</h1>

    Login/register and book your dentist appointment now!

</div>
{% endblock %}
